# Core functionality - changes here should be rare!
/src/app.py                   @vj-hubs
/src/backend/database.py      @vj-hubs
/src/backend/routers/auth.py  @vj-hubs

# The frontend will need refactored soon to be more object oriented.
/src/static/   @vj-hubs
